@{
    ViewBag.Title = "Toplantı Başvuru Formu";
    
}
<h1 class="h4">Toplatı Katılım Formu</h1>
<form action="">
    <button class="btn btn-sm btn-outline-primary " type="submit">Kaydet</button>
</form>