@model List<UserInfo>
@{
    ViewBag.Title = "Liste";

}
<main class="text-center">

    <h1 class="h4">Toplantı Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>
                <td>Durum</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @{int i = 0;}
            @foreach (var user in Model)
            {

                var ClassName = user.WillAttend ? "table-success" : "table-danger";
                <tr class="@ClassName">
                    <td>@user.Name</td>
                    <td>@(user.WillAttend ? "Evet" : "Hayır")</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="/meeting/Details/@user.Id">Detay</a>
                    </td>
                </tr>
                if (user.WillAttend== true)
                {
                    i++;
                }
            }


        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span class="card-text">Toplam Katılımcı: @i</span>
        </div>
    </div>
</main>