@{
    ViewBag.Title = "Liste";
    
}
<main class="text-center">

    <h1 class="h4" >Toplantı Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>
                <td>Email</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Koray Semiz</td>
                <td>evet</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="#">Detay</a>
                </td>
            </tr>
            <tr>
                <td>Özge Semiz</td>
                <td>evet</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="#">Detay</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>