
@{
    ViewBag.Title = "Selamlama";
    Layout = "_Layout-2";
}
<h1 class="h4">@ViewBag.selamlama</h1>
<p>Toplantı katılım durumunu bildiriniz</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>